In [1]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\admin\anaconda3\lib\site-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\admin\anaconda3\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.3.2 in c:\users\admin\anaconda3\lib\site-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in c:\users\admin\anaconda3\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\admin\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\admin\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import numpy as np 
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [4]:
heart_dataset = pd.read_csv("../csv files/heart.csv")

In [5]:
heart_dataset.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [6]:
heart_dataset.shape

(303, 14)

In [7]:
heart_dataset.describe

<bound method NDFrame.describe of      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal  target
0        0   0     1       1
1        0   0     2       1
2        2   0     2       1
3        2   0     2       1
4        2   0     2       1
..     ...  ..   ...     ...
298      1   0     3       0
299      1   0     3       0
300      1   2     3       0
301      1   1     3       0
302      1   1     2       0

[303 rows x 14 columns]>

In [8]:
heart_dataset["target"]

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [9]:
heart_dataset["target"].value_counts()

target
1    165
0    138
Name: count, dtype: int64

In [10]:
heart_dataset.groupby("target").mean()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
target,,,,,,,,,,,,,
0,56.601449,0.826087,0.478261,134.398551,251.086957,0.159420,0.449275,139.101449,0.550725,1.585507,1.166667,1.166667,2.543478
1,52.496970,0.563636,1.375758,129.303030,242.230303,0.139394,0.593939,158.466667,0.139394,0.583030,1.593939,0.363636,2.121212

In [11]:
x = heart_dataset.drop(columns=['target'],axis=1)
y = heart_dataset['target']

In [12]:
x.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [13]:
train_test_split(x,y,test_size=0.2,random_state=2)

[     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
 237   60    1   0       140   293    0        0      170      0      1.2
 106   69    1   3       160   234    1        0      131      0      0.1
 10    54    1   0       140   239    0        1      160      0      1.2
 153   66    0   2       146   278    0        0      152      0      0.0
 77    59    1   1       140   221    0        1      164      1      0.0
 ..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
 75    55    0   1       135   250    0        0      161      0      1.4
 22    42    1   0       140   226    0        1      178      0      0.0
 72    29    1   1       130   204    0        0      202      0      0.0
 15    50    0   2       120   219    0        1      158      0      1.6
 168   63    1   0       130   254    0        0      147      0      1.4

      slope  ca  thal
 237      1   2     3
 106      1   1     2
 10       2   0     2
 153      1   1     2
 77       2   0     2
 ..     ...  ..   ...
 75       1   0     2
 22       2   0     2
 72       2   0     2
 15       1   0     2
 168      1   1     3

 [242 rows x 13 columns],
      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
 99    53    1   2       130   246    1        0      173      0      0.0
 296   63    0   0       124   197    0        1      136      1      0.0
 89    58    0   0       100   248    0        0      122      0      1.0
 30    41    0   1       105   198    0        1      168      0      0.0
 234   70    1   0       130   322    0        0      109      0      2.4
 ..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
 173   58    1   2       132   224    0        0      173      0      3.2
 94    45    0   1       112   160    0        1      138      0      0.0
 161   55    0   1       132   342    0        1      166      0      1.2
 216   62    0   2       130   263    0        1       97      0      1.2
 91    57    1   0       132   207    0        1      168      1      0.0

      slope  ca  thal
 99       2   3     2
 296      1   0     2
 89       1   0     2
 30       2   1     2
 234      1   3     2
 ..     ...  ..   ...
 173      2   2     3
 94       1   0     2
 161      2   0     2
 216      1   1     3
 91       2   0     3

 [61 rows x 13 columns],
 237    0
 106    1
 10     1
 153    1
 77     1
       ..
 75     1
 22     1
 72     1
 15     1
 168    0
 Name: target, Length: 242, dtype: int64,
 99     1
 296    0
 89     1
 30     1
 234    0
       ..
 173    0
 94     1
 161    1
 216    0
 91     1
 Name: target, Length: 61, dtype: int64]

In [14]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=2)

In [15]:
x_train.shape

(242, 13)

In [16]:
x_test.shape

(61, 13)

In [17]:
model = svm.SVC(kernel='linear')

In [18]:
model.fit(x_train,y_train)

SVC(kernel='linear')

In [19]:
x_predict = model.predict(x_train)
train_data_accuracy = accuracy_score(x_predict,y_train)

In [20]:
print('Accuracy score of the Training model', train_data_accuracy)

Accuracy score of the Training model 0.8429752066115702

In [21]:
y_predict = model.predict(x_test)
test_data_pridiction = accuracy_score(y_predict,y_test)

In [22]:
test_data_pridiction = accuracy_score(y_predict,y_test)

In [23]:
print('Accuracy score of the Testing model', test_data_pridiction)

Accuracy score of the Testing model 0.8688524590163934

In [24]:
pip install pickle

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement pickle (from versions: none)
ERROR: No matching distribution found for pickle

In [25]:
import pickle
from sklearn.svm import SVC  # Example model

# Train a model (ensure `model` is defined)
model = SVC()
X_train, y_train = [[0, 0], [1, 1]], [0, 1]  # Example data
model.fit(X_train, y_train)

# Save the trained model
filename = 'heart_model.sav'
pickle.dump(model, open(filename, 'wb'))
print("Model saved successfully!")

Model saved successfully!